---
// Styles
import "../styles/card.css"
---

<style>
    svg {
        margin-top: 10px;
    }
</style>

<div class="card">
    <h2>Sobre mí</h2>
    <p>
        Soy un apasionado por el desarrollo de software, disfruto de hacer código de calidad que permita dar sostenibilidad a los proyectos a largo plazo mediante buenas prácticas, patrones de diseño y testing. <br>
        Me encantan los retos, aprender nuevas tecnologías y trabajar en equipo.
    </p>
    <svg viewBox="0 0 711 80" xmlns="http://www.w3.org/2000/svg">
        <path d="M579.398 11.5106C589.853 8.29586 599.566 5.02731 608.584 1.73414C620.203 -2.50852 710.287 49.5293 709.702 61.8842L709.342 69.4734C709.089 74.8062 704.692 79 699.353 79H6.81822C3.60491 79 1 76.3951 1 73.1818C1 70.0524 3.35726 67.4884 6.48434 67.3689C158.938 61.5458 478.253 42.6135 579.398 11.5106Z" fill="white"/>
    </svg>
</div>
