---
// Styles 
import "../styles/card.css"
---

<div class="card">
    <h1>Hola !!! , soy Luis LM 👋</h1>
    <h2>Desarrollador Full Stack</h2>
    <svg viewBox="0 0 1441 309" xmlns="http://www.w3.org/2000/svg">
        <path d="M634.321 127.683C364.911 85.356 105.168 201.555 4.34166 267.628C1.55517 269.454 0 272.507 0 275.838V299C0 304.523 4.47719 309 10 309H1431C1436.52 309 1441 304.523 1441 299V10.7521C1441 3.68235 1433.91 -1.18034 1427.32 1.36244C1264.69 64.0501 899.956 169.417 634.321 127.683Z" fill="white"/>
    </svg>    
</div>